{% extends 'layout.html' %}
{% block main %}
  <h1>Contact</h1>
  <h2>You can reach me on any of the platforms below. I am available for a chat or internship opportunities</h2>
  <ol>
    <li><a href="https://discordapp.com/users/1019977889992675419" target="_blank">Discord</a></li>
    <li><a href="https://www.instagram.com/ose_lumese/" target="_blank">Instagram</a></li>
    <li><a href="https://web.facebook.com/oselumese.agbonrofo" target="_blank">Facebook</a></li>
    <li><a href="" target="_blank">Linkedin</a></li>
  </ol>
{% endblock %}